body {
  background-color: #1e272e !important;
  padding: 0px;
  margin: 0px;
  border: 0px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.main_svg {
  width: 100vw;
  height: 40vw;
  background-color: rgb(30, 39, 46);
  padding: 0px;
  margin: 0px;
  border: 0px;
  outline: none;
}

p {
  color: #d2dae2;
  margin-left: 20px;
  margin-top: 15px;
}

.filter_title {
  color: #d2dae2;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 0px;
}

.filter_warning {
  color: #f53b57;
  margin-left: 20px;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

form {
  width: 200px !important;
  margin-left: 20px;
  margin-top: 20px;
}

.node {
    stroke: white;
    stroke-width: 1.5px;
}

.link {
    stroke: #d2dae2;
    stroke-opacity: .3;
}

.ui-autocomplete {
  list-style-type: None;
  color: #d2dae2;
  background-color: #485460;
  width: 200px !important;
  opacity: 0.6;
  font-family: 'Montserrat', sans-serif;
}

.ui-menu-item {
  padding-top:5px;
  padding-bottom:5px;
}

text {
  /* stroke: white; */
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  /* color: #1abb9c !important;  */
  fill: #d2dae2 !important;
  border-radius: 3px;
  opacity: 1 !important;
}

.ui-helper-hidden-accessible {
  color: rgb(30, 39, 46);
}

.title_text {
  position: absolute;
  /* color: #d2dae2; */
  z-index: 10000;
  /* stroke: #d2dae2; */
  width: 400px;
  height: auto;
  margin-left: 70vw;
  margin-top: 20px;
}

.ui-widget {
  font-family: 'Montserrat', sans-serif;
  padding-right: 10px;
}
