body {
  background-color: rgb(73, 73, 73);
  padding: 0px;
  margin: 0px;
  border: 0px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.main_svg {
  width: 100vw;
  height: 40vw;
  background-color: rgb(73, 73, 73);
  padding: 0px;
  margin: 0px;
  border: 0px;
  outline: none;
}

p {
  color: rgb(218, 218, 218);
  margin-left: 20px;
}

form {
  width: 200px !important;
  margin-left: 20px;
}

.node {
    stroke: white;
    stroke-width: 1.5px;
}

.link {
    stroke: rgb(233, 233, 233);
    stroke-opacity: .2;
}

.ui-autocomplete {
  list-style-type: None;
  color: white;
  background-color: grey;
  width: 200px !important;
  opacity: 0.6;
  font-family: 'Montserrat', sans-serif;
}

.ui-menu-item {
  padding-top:5px;
  padding-bottom:5px;
}

text {
  /* stroke: white; */
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  /* color: #1abb9c !important;  */
  fill: #3498db !important;
  border-radius: 3px;
  opacity: 1 !important;
}
